.p-form{
  
  &__section{
    padding: 30px 50px;
    @include mq-down(){
      padding: 10px 25px;
    }
  }
  &__title{
    font-size: 14px;
    font-weight: bold;

  }
  $value: 200px;
  &__content{
    margin-top: 8px;
    &--btn{
      button{
        margin: 0 auto;
      }
    }
    &--img{
      display: block;
      height: $value;
      line-height: $value;
      width: $value;
      position: relative;
      text-align: center;
      margin: 0 auto;
      overflow: hidden;
      background: $gray;
      border-radius: $value;
      -webkit-border-radius: $value;
      -moz-border-radius: $value;
      -ms-border-radius: $value;
      -o-border-radius: $value;
      
    }
  }
  &__item{
    &:not(:first-child){
      margin-top: 20px;
    }
    &--error{
      color: $red;
      margin-top: 5px;
    }
  }

  &__input{
    &--text{
      width: 100%;
      height: 45px;
      padding: 10px 16px;
      font-size: 20px;
      overflow-wrap: break-word;
      &-show{
        text-align: center;
        font-weight: bold;
      }
    }
    &--number{
      height: 45px;
      padding: 10px 16px;
      margin: 5px 0;
      font-size: 20px;
    }
    &--select{
      height: 45px;
      padding: 10px 16px;
      font-size: 15px;
    }
    &--textarea{
      width: 100%;
      min-height: 150px;
      padding: 10px 16px;
      font-size: 16px;
      line-height: 1.2;
      overflow-wrap: break-word;
      &-show{
        border: 3px $gray-dark solid;
        &--empty{
          color: $gray;
        }
      }
    }
    &--file{
      opacity: 0;
      width: 100%;
      height: $value;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      &:hover{
        cursor: pointer;
      }
    }
    &--prev-img{
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      
    }
  }
  &__note{
    display: block;
    margin-top: 10px;
    text-align: center;
    &:hover{
      text-decoration: underline;
    }
  }
}