.p-work{
  background: $white;
  padding: 15px 8px;
  &__type{
    margin-right: 20px;
  }

  &__price{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__date{
    font-size: 15px;
    text-align: right;
    margin: 5px 0;
    &__text{
      font-weight: bold;
      color: #ff9900;
    }
  }
  &__btn{
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
}