@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, input
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%; */
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Noto Sans JP', sans‒serif;
  background: #f2f2f2; }

ol, ul, li {
  list-style: none; }

a {
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.c-btn {
  display: block;
  font-size: 15px; }
  .c-btn--login {
    color: #fff;
    background: #3490dc;
    width: 80%;
    height: 45px;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s; }
    .c-btn--login:hover {
      background: #124a77;
      cursor: pointer; }

.c-dialog--err {
  color: #e3342f; }

.p-form__section {
  padding: 10px 25px; }

.p-form__title {
  font-size: 14px;
  font-weight: bold; }

.p-form__content {
  margin-top: 8px; }

.p-form__item:not(:first-child) {
  margin-top: 20px; }

.p-form__item--error {
  color: #e3342f; }

.p-form__input--text {
  width: 100%;
  height: 45px;
  padding: 10px 16px;
  font-size: 16px; }

.p-header {
  background-color: #fff;
  font-family: "Amatic SC", cursive;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16); }
  .p-header__title {
    font-size: 25px;
    padding-left: 30px;
    padding-right: 40px; }
  .p-header__inner {
    display: flex;
    align-items: center;
    line-height: 100px;
    font-size: 18px; }
  .p-header__nav {
    letter-spacing: 2px; }
    .p-header__nav .p-navHorizontal__inner {
      display: flex; }
      .p-header__nav .p-navHorizontal__inner > li > a {
        padding-right: 15px;
        padding-left: 15px; }

.p-register__container {
  max-width: 520px;
  margin: 0 auto; }

.p-register__header {
  font-weight: 700;
  font-size: 20px;
  margin: 25px;
  text-align: center; }

.p-register__contents {
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
